__pycache__/
__init__.py
.idea/
.vscode/
**/dist/
**/node_modules/
test/coverage/
**/tmp/*
fichier_txt/*
bastionDB*.json
bridges/python/.venv/*
downloads/*
logs/*
server/src/config/**/*.json
bin/deepspeech/*
bin/flite/*

time*.json
*.pyc
.DS_Store
*.sublime-workspace
npm-debug.log
debug.log
.env
!**/.gitkeep
!bridges/python/.venv/.gitkeep
!**/*.sample*
packages/**/config/config.json
packages/**/data/db/*.json
server/src/data/expressions/classifier.json
app/js/main.js
package.json.backup
.python-version
